XML XSD/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FalconStationers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Productid" type="xs:unsignedByte" />
              <xs:element name="ProductName" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
              <xs:element name="PricePerUnit" type="xs:unsignedByte" />
              <xs:element name="PricePerDozen" type="xs:unsignedShort" />
              <xs:element name="InStock" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>